@model TestWebApp.Models.HomeViewModels

<h2>@Model.Title.</h2>
<h4>@Model.Message</h4>

<address>
    5375 Godbey Drive<br />
    La Cañada Flintridge, CA 91011<br />
    <abbr title="Phone">P:</abbr>
    818.687.2962
</address>

<address>
    <strong>Email Me:</strong>   <a href="mailto:dmednikov@ucla.edu">dmednikov@ucla.edu</a><br />
</address>